
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>first name:</strong>
  <%= @user.first_name %>
</p>
<p><p><p>
<strong>last name:</strong>
  <%= @user.last_name %>
</p>
<p><p>
  <strong>address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>avatar:</strong>
  <%= image_tag @user.avatar.url %>
</p>

