<!DOCTYPE html>
<html>
<head>
  <title>WinnerProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <p><strong>current user:</strong> <%= current_user.email %>

  <%= link_to "homepage", root_path %> |
  <%= link_to "edit user", edit_user_registration_path %> |
  <%= link_to "logout", destroy_user_session_path, method: :delete %> |
  <%= link_to "delete user", {controller:'devise/registrations', action: 'destroy'}, method: :delete %>
  <p>
<% end %>

<%= yield %>

</body>
</html>
